.root {
	-fx-background-color: #404040;
}
.side-bar {
	-fx-background-color: #565656;
}
.header-bar {
	-fx-background-color: #404040;
}
.header-bar .header {
	-fx-text-fill: #BBBBBB;
	-fx-font-size: 40.0px;
}
.header-bar .sub-header {
	-fx-text-fill: #5FBFD8;
	-fx-font-size: 15.0px;
}
.status-bar {
	-fx-background-color: #565656;
}
.box {
	-fx-background-color: #404040;
	-fx-border-width: 0.05em ;
	-fx-border-color: #000000;
}
.box .box-header {
	-fx-background-color: #303030;
}
.box .box-header-text {
	-fx-text-fill: #BBBBBB;
	-fx-font-size: 15.0px;
}
.button {
	-fx-text-fill: #BBBBBB;
	-fx-font-size: 15.0px;
	-fx-alignment:baseline-left;
	-fx-pref-width: 200px;
	-fx-pref-height: 50px;
}
.button_small {
	-fx-text-fill: #BBBBBB;
	-fx-font-size: 14.0px;
	-fx-alignment: center;
	-fx-pref-width: 120px;
	-fx-pref-height: 35px;
	-fx-border-width: 0.05em ;
	-fx-border-color: #000000;
	
}
.jfx-toggle-button {
     -jfx-toggle-color: #FAFAFA;
     -jfx-untoggle-color: #FAFAFA;
     -jfx-toggle-line-color: #5FBFD8;
     -jfx-untoggle-line-color: #999999;
     -fx-text-fill: #BBBBBB;
	 -fx-font-size: 13.0px;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:transparent;
 
}
.increment-button ,.decrement-button {
    -fx-background-color:transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #565656;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}
.jfx-text-field {
	-jfx-focus-color: #5FBFD8;
	-jfx-unfocus-color: #303030;
	-fx-prompt-text-fill: #707070;
	-fx-text-fill: #BBBBBB;
	-fx-font-size: 13.0px;
}
.log-text-area {
	-fx-background-color: #404040;
	-fx-font-size: 12.0px;
	-fx-text-fill: #CCCCCC;
	-fx-highlight-text-fill: #000000;
	-fx-highlight-fill: #5FBFD8;
}
.log-text-area .content {
	-fx-background-color: #303030;
}
.about-text-area {
	-fx-background-color: transparent;
	-fx-font-size: 12.0px;
	-fx-text-fill: #CCCCCC;
	-fx-highlight-text-fill: #000000;
	-fx-highlight-fill: #5FBFD8;
}
.about-text-area .content {
	-fx-background-color: transparent;
	-fx-text-alignment: center;
}
.about-text-area .content .text {
	-fx-text-alignment: center;
}
/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #5FBFD8
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #5FBFD8
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #5FBFD8
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}
.logo_image {
	 -fx-image: url("airplane-icon.png");
}